<!DOCTYPE html>
<html>
   	<head>
     	<title></title>
      	<link rel="stylesheet" type="text/css" href="/css/style.css">
   	</head>
   	<body>
      	<div class="container">
        	<%- include('./common/_header') %>
        	Home
        	<a href="/movies/771373077">movies/771373077</a>
        </div>
   	</body>
</html>