<header>
	<div class="logoBar">
		<img id="tomatoCorner" src="/images/tomatocorner.png" alt="tomato-image">
		<a href="/">
			<img id="rtLogo" src="/images/rtlogo.png" alt="rotten-tomato-logo">
		</a>
	</div>
	<div class="blackBar">
	</div>
</header>